* {
	margin: 0;
	padding: 0;
}

canvas {
	width: 100%;
	height: 100%;
	position: absolute;
}

body {
	background-color: white;
	width: 100%;
	height: 100%;
	background-image: url('loader.gif');
	background-size: 64px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
}